@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3440;
}

.light-body {
  background-color: #e3eaf9;
}

.light-text {
  color: #242f3a;
}

p,
a,
button,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  p {
    line-height: 30px;
  }
}

ul,
ol {
  margin-left: 24px;
  margin-bottom: 16px;
}

ul li,
ol li {
  letter-spacing: 0.1px;
  line-height: 26px;
  margin-bottom: 6px;
}

a {
  color: #8fbcbb;
}

img {
  max-width: 650px;
  object-fit: cover;
  @media (max-width: 720px) {
    max-width: calc(100% - 60px);
    width: calc(100% - 60px);
  }
}

pre {
  padding: 12px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
}

main {
  height: 100vh;
  color: #d8dee9;
}
span {
  font-family: "Roboto", sans-serif;
}

header {
  z-index: 10000;
}

.MathJax {
  z-index: 10;
}

.content-container {
  padding-top: 24px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 56px;
  display: flex;
  column-gap: 42px;
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  margin-top: 12px;
  font-size: 16px;
  color: #b48ead;
  margin-bottom: 4px;
}

.profile-description {
  font-size: 15px;
  font-style: italic;
  color: #81a1c1;
  text-align: center;
  line-height: 20px;
}

.profile-image {
  margin-top: 24px;
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .profile-image {
    width: 160px;
    height: 160px;
  }
}

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #2e3440;
  padding: 30px;
  width: 100%;
}

header a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  color: #5e81ac;
}

header a.active {
  color: #8fbcbb;
}

header .container {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
}
@media (max-width: 900px) {
  header .container {
    width: 100%;
  }
}

.tag-container {
  margin-bottom: 16px;
  display: flex;
  column-gap: 4px;
}

.tag {
  cursor: pointer;
  background-color: #b8efee;
  color: #467574;
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  border: 2px solid #699e9d;
  font-size: 14px;
}

.container-content {
  padding-top: 100px;
  margin: auto;
  max-width: 900px;
  min-height: 700px;
}

.post-list {
  list-style-type: none;
  margin: 0;
  max-width: 900px;
}

.post-list-item {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .post-list {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
}

.post-list .post {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  align-items: center;
}

.post-list .post h4 {
  font-weight: 400;
}
.post-list .post p {
  margin: 0;
}

.post .date {
  color: #5e81ac;
}
.date-list {
  font-size: 14px;
  color: #4c566a;
}

#prev-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.title {
  color: #81a1c1;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 24px;
}

.date {
  color: #5e81ac;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .date {
    margin-bottom: 48px;
  }
}

figure {
  align-self: center;
  text-align: center;
  font-style: italic;
}

.post-container {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .post-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.post-content {
  display: flex;
  flex-direction: column;
}

pre {
  background-color: #151921;
  overflow-x: scroll;
  max-width: 660px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .post-list .post {
    display: grid;
    padding-bottom: 0;
  }
}

.footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .footer {
    height: 120px;
  }
}

.footer .color-picker {
  display: flex;
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  column-gap: 4px;
  margin-bottom: 8px;
}
.footer .footer-blog {
  width: 900px;
  padding-top: 6px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #81a1c1;
  display: flex;
  justify-content: flex-end;
  column-gap: 3px;
}

.icon {
  fill: #81a1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  fill: #88c0d0;
}

@media (max-width: 900px) {
  .footer .footer-blog {
    width: calc(100% - 60px);
  }
}

.copyright,
.current-theme {
  color: #81a1c1;
  font-size: 15px;
}

@media (max-width: 768px) {
  .copyright {
    margin-top: 12px;
  }
}

.source-code-footer {
  margin-top: 6px;
  font-size: 15px;
}

.back-to-top {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    background: none;
    border: none;

    font-size: 16px;
    text-decoration: underline;
    color: #8fbcbb;
  }
}
